@use '../base' as *;
@use '_1_list.scss' as *;

/* -------------------------------- 

File#: 2_article-example
Title: Article Example 
Descr: How to include basic typography elements
Usage: codyhouse.co/license

-------------------------------- */