@use '../base' as *;
@use '_1_text-points.scss' as *;

/* -------------------------------- 

File#: _2_faq
Title: Frequent Questions
Descr: A ready-to-use template for your site FAQ section
Usage: codyhouse.co/license

-------------------------------- */